<template>
    <div>
        <div class="m-2">
            <h1 class="text-center">Ajouter un film</h1>
        </div>

        <div>
            <label for="title">Titre</label>
            <input id="title" type="text" v-model="title"/>
        </div>

        <div>
            <label for="date">Date de sortie</label>
            <input id="date" type="text" v-model="date"/>
        </div>

        <div>
            <label for="creatorName">Nom du réalisateur</label>
            <input id="creatorName" type="text" v-model="creatorName"/>
        </div>

        <div>
            <label for="creatorNationality">Nationalité du réalisateur</label>
            <input id="creatorNationality" type="text" v-model="creatorNationality"/>
        </div>

        <div>
            <label for="creatorBirthDate">Date de naissance du réalisateur</label>
            <input id="creatorBirthDate" type="text" v-model="creatorBirthDate"/>
        </div>

        <div>
            <label for="synopsis">Synopsis</label>
            <input id="synopsis" type="text" v-model="synopsis"/>
        </div>

        <div>
            <label for="type">Genre</label>
            <input id="type" type="text" v-model="type"/>
        </div>

        <div>
            <label for="rating">Note</label>
            <select id="rating" type="text" v-model="rating">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div>
            <button @click="addMovie" class="btn btn-success">Ajouter</button>
        </div>
    </div>
</template>

<script>
    import router from '../routes.js'

    export default {
        name: "movie-create",
        props: ['movies'],

        data() {
            return {
                title: "",
                date: "",
                creatorName: "",
                creatorNationality: "",
                creatorBirthDate: "",
                synopsis: "",
                type: "",
                rating: ""
            }
        },

        methods: {
            addMovie() {
                let newMovie = {
                    title: this.title,
                    date: this.date,
                    creator: {
                        name: this.creatorName,
                        nationality: this.creatorNationality,
                        birthDate: this.creatorBirthDate
                    },
                    synopsis: this.synopsis,
                    type: this.type,
                    rating: this.rating
                }
                this.movies.push(newMovie)
                router.push({name: 'list'})
            }
        }
    }
</script>

<style scoped>

</style>