<template>
    <div>
        <div class="m-2">
            <h1 class="text-center">Liste des films</h1>
        </div>

        <div v-for="(movie, index) in movies" class="m-5">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Titre</th>
                        <th>Année</th>
                        <th>Genre</th>
                        <th>Synopsis</th>
                        <th>Réalisateur</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ movie.title }}</td>
                        <td>{{ movie.date }}</td>
                        <td>{{ movie.type }}</td>
                        <td>{{ movie.synopsis }}</td>
                        <td>{{ movie.creator.name }}, {{ movie.creator.birthDate }}, {{ movie.creator.nationality }}</td>
                        <td>{{ movie.rating }}</td>
                    </tr>
                </tbody>
            </table>

            <router-link :to="{name: 'edit', params: {index: index+1}}" tag="button" class="btn btn-primary">Editer</router-link>
            <button class="btn btn-danger" v-on:click="deleteMovie(index)">Supprimer</button>
        </div>

        <router-link :to="{name: 'add'}" tag="button" class="btn btn-success ml-5 mb-5">Ajouter un film</router-link>

    </div>
</template>

<script>
    export default {
        name: "movie-list",
        props:['movies'],

        methods: {
            deleteMovie(index) {
                this.movies.splice(index, 1)
            }
        }
    }
</script>

<style scoped>
</style>