<template>
    <div>
        <div class="m-2">
            <h1 class="text-center">Editer un film</h1>
        </div>

        <div>
            <label for="title">Titre</label>
            <input id="title" type="text" v-model="movie.title"/>
        </div>

        <div>
            <label for="date">Date de sortie</label>
            <input id="date" type="text" v-model="movie.date"/>
        </div>

        <div>
            <label for="creatorName">Nom du réalisateur</label>
            <input id="creatorName" type="text" v-model="movie.creator.name"/>
        </div>

        <div>
            <label for="creatorNationality">Nationalité du réalisateur</label>
            <input id="creatorNationality" type="text" v-model="movie.creator.nationality"/>
        </div>

        <div>
            <label for="creatorBirthDate">Date de naissance du réalisateur</label>
            <input id="creatorBirthDate" type="text" v-model="movie.creator.birthDate"/>
        </div>

        <div>
            <label for="synopsis">Synopsis</label>
            <input id="synopsis" type="text" v-model="movie.synopsis"/>
        </div>

        <div>
            <label for="type">Genre</label>
            <input id="type" type="text" v-model="movie.type"/>
        </div>

        <div>
            <label for="rating">Note</label>
            <select id="rating" type="text" v-model="movie.rating">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

    </div>

</template>

<script>
    export default {
        name: "movie-edit",
        props:['movies', 'index'],
        data() {
            return {
                movie: this.movies[this.index - 1]
            }
        }
    }
</script>

<style scoped>

</style>